<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>This album's details</title>
</head>
<body>
<h1><a href="/albums">All Album Page</a></h1>
<h2>These are the songs in album <span th:text="${particularAlbum.title}"></span></h2>
<ul>
    <li th:each="song: ${particularAlbum.getSongs()}">
        <div th:text="${song.songTitle}"></div>
        <div th:text="${song.songLength}"></div>
        <div th:text="${song.trackNumber}"></div>
    </li>
</ul>

<h2>Add songs</h2>
<form th:action="@{'/albumDetails/'+${particularAlbum.id}}" method="POST">
    Song Title: <input name="songTitle" /><br />
    Song Length: <input name="songLength" /><br />
    Song TrackNumber: <input name="trackNumber" /><br />
    <input type="submit" />
</form>

</body>
</html>