<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <h1> Hello, this is all the Albums we have </h1>
    <ul>
        <li th:each="album : ${albums}">
            <div th:text="${album.title}"></div>
            <div th:text="${album.artist}"></div>
            <div th:text="${album.length}"></div>
            <div th:text="${album.songCount}"></div>
            <img th:src="${album.imageUrl}" height="100" width="160"/>
            <a th:href="@{'/albumDetails/' + ${album.id}}" >Check album's songs</a>
        </li>
    </ul>

    <form method="POST" action="/albums">
        <lable for="text"> Album Title:</lable><input name="title" type="text" /><br />
        <lable for="artist"> Album Artist:</lable><input name="artist" type="text"/><br />
        <lable for="songCount"> Album songCount:</lable><input name="songCount" type="text" /><br />
        <lable for="length"> Album length:</lable><input name="length" type="text" /><br />
        <lable for="imageUrl"> Album imageUrl:</lable><input name="imageUrl" type="text" /><br />
        <input type="submit" />
    </form>
    </body>
</html>