<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Songs in this Albums</title>
</head>
<body>
    <h1>This is all the songs in this album</h1>
    <ul>
        <li th:each="song : ${songs}">
            <div th:text="${song.songTitle}"></div>
            <div th:text="${song.songLength}"></div>
            <div th:text="${song.trackNumber}"></div>
        </li>
    </ul>

    <form method="POST" action="/albums/{id}">
        <lable for="songTitle"> Song Title:</lable><input name="songTitle" type="text" />
        <lable for="songLength"> Song Length:</lable><input name="songLength" type="text"/>
        <lable for="trackNumber"> Album songCount:</lable><input name="trackNumber" type="text" />
        <input type="submit" />
    </form>


</body>
</html>